<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jinja2参数传递、for循环、if判断</title>

</head>
<body>

{# 这是jinja2的注释，{{}}不会被渲染到页面上 #}
    <div>{{session.get('username')}}，欢迎你登录慕慕手记</div>
    <div>文章的标题是:{{article.title}}</div>
    <div>文章的阅读量是:{{article.count}}</div>  

{# jinja2中if判断 #}
    {% if article.count %2 ==0 %}
        <div>文章的阅读量是偶数</div>
    {% else %}
        <div>文章的阅读量是奇数</div>
    {% endif %}

{# jinja2中for循环 #}
    {% for i in range(10) %}
        <div>当前循环的次数是:{{i+1}}</div>
    {% endfor %}
</body>
</html>

